firmware/EMC2_BSP.srcs/sources_1/bd/design_1/*
!firmware/EMC2_BSP.srcs/sources_1/bd/design_1/design_1.bd
firmware/EMC2_BSP.sim/
firmware/EMC2_BSP.runs/**/*
!firmware/EMC2_BSP.runs/impl_1/design_1_wrapper.bit
firmware/EMC2_BSP.ip_user_files/
firmware/EMC2_BSP.hw
firmware/EMC2_BSP.gen/sources_1/bd/design_1/**/*
!firmware/EMC2_BSP.gen/sources_1/bd/design_1/hdl/design_1_wrapper.v
firmware/EMC2_BSP.cache/
scripts/.Xil/
software/baremetal/EMC2_BSP_platform/.log
software/baremetal/.analytics
software/baremetal/.metadata/
software/baremetal/IDE.log
software/baremetal/RemoteSystemsTempFiles/
software/Packages/
	

